# See https://docs.aspect.build/workflows/configuration

# This list is maintained by tools/e2e/sync.py
workspaces:
  - .
  - e2e
  - examples/uv_pip_compile

tasks:
  - test:
      name: Bazel 8
      id: bazel-8
      env:
        USE_BAZEL_VERSION: 8.x
  - test:
      name: Bazel 9
      id: bazel-9
      env:
        USE_BAZEL_VERSION: 9.*

  - finalization:
      queue: aspect-small

notifications:
  github: {}
