# See https://docs.aspect.build/workflows/configuration

workspaces:
  - .
  - e2e
  - examples/uv_pip_compile:
      tasks:
        - bazel-9:
            # TODO(alexeagle): needs an updated published aspect_rules_py
            without: true

tasks:
  - test:
      name: Bazel 8
      id: bazel-8
      env:
        USE_BAZEL_VERSION: 8.x
  - test:
      name: Bazel 9
      id: bazel-9
      env:
        USE_BAZEL_VERSION: 9.*

  - finalization:
      queue: aspect-small

notifications:
  github: {}
