# See https://docs.aspect.build/workflows/configuration

# This list is maintained by tools/e2e/sync.py
workspaces:
  - .
  - e2e
  - examples/uv_pip_compile

tasks:
  # TODO(arrdem): Rosetta doesn't like HEAD version strings seemingly
  # - test:
  #     name: test-os:linux-bzl:head
  #     queue: aspect-default
  #     hooks:
  #       - type: before_task
  #         command: |
  #           rm .bazelversion
  #           echo "USE_BAZEL_VERSION=last_green" > .bazeliskrc

  - test:
      name: test-os:linux-bzl:latest
      queue: aspect-large
      hooks:
        - type: before_task
          command: |
            rm .bazelversion
            echo "USE_BAZEL_VERSION=latest" > .bazeliskrc

  - test:
      name: test-os:linux-bzl:8
      queue: aspect-large
      hooks:
        - type: before_task
          command: |
            rm .bazelversion
            echo "USE_BAZEL_VERSION=8.5.0" > .bazeliskrc

  - finalization:
      queue: aspect-small

notifications:
  github: {}
