# Default to dev venv — includes debug/test tools
common --@pypi//dep_group=dev

# Release config: strip dev deps, enable stamping
common:release --@pypi//dep_group=prod
common:release --//:mode=prod
common:release --stamp
