# Default to debug venv — includes debugpy
common --@pypi//dep_group=debug

# Release config: strip debug deps
common:release --@pypi//dep_group=prod
common:release --//:mode=prod
common:release --stamp
