filegroup(
    name = "gazelle_index_whls",
    srcs = select(%INDEX_SELECT_CLAUSES%,
    ),
    visibility = ["//visibility:public"],
)

exports_files(
    ["defs.bzl", "requirements.bzl"],
    visibility = ["//visibility:public"],
)
