home = ./bin/python3
implementation = CPython
version_info = {{MAJOR}}.{{MINOR}}.{{PATCH}}
include-system-site-packages = {{INCLUDE_SYSTEM_SITE}}
aspect-include-user-site-packages = {{INCLUDE_USER_SITE}}
relocatable = true
{{INTERPRETER}}
