name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  # Cancel previous actions from the same PR or branch except 'main' branch.
  # See https://docs.github.com/en/actions/using-jobs/using-concurrency and https://docs.github.com/en/actions/learn-github-actions/contexts for more info.
  group: concurrency-group::${{ github.workflow }}::${{ github.event.pull_request.number > 0 && format('pr-{0}', github.event.pull_request.number) || github.ref_name }}${{ github.ref_name == 'main' && format('::{0}', github.run_id) || ''}}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

jobs:
  test:
    uses: bazel-contrib/.github/.github/workflows/bazel.yaml@v6
    with:
      folders: '[".", "e2e/smoke", "e2e/repository-rule-deps", "e2e/system-interpreter", "examples/uv_pip_compile"]'
      # TODO: Build Windows tools and add to toolchain
      # TODO(alex): switch the root folder to bzlmod
      exclude: |
        [
          {"os": "windows-latest"},

          {"folder": ".", "bazelversion": "6.4.0"},
          {"folder": "e2e/repository-rule-deps", "bazelversion": "6.4.0"},
          {"folder": "e2e/system-interpreter", "bazelversion": "6.4.0"},
          {"folder": "e2e/smoke", "bazelversion": "6.4.0"},
          {"folder": "examples/uv_pip_compile", "bazelversion": "6.4.0"},

          {"folder": ".", "bzlmodEnabled": true},
          {"folder": "e2e/repository-rule-deps", "bzlmodEnabled": false},
          {"folder": "e2e/system-interpreter", "bzlmodEnabled": false},
          {"folder": "examples/uv_pip_compile", "bzlmodEnabled": false},
        ]

  verify-bcr-patches:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: patch --dry-run -p1 < .bcr/patches/*.patch

  # TODO(alex): enable after next release. Matt will yell at you if you forget.
  # test-release:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - working-directory: e2e/use_release
  #       run: ./minimal_download_test.sh
